@media screen and (max-width: 1118px) {
    .logo .logo-span{
        font-size: .7em;
    }
    .logo img{
        width: 15%;
    }
   .nav .cont-ul ul li a{
    font-size: 1em;
   } 
   .cont-footer .footer .subcont-footer .author{
    font-size: .8em;
   }
   .cont-footer .footer .subcont-footer .derechos{
    font-size: .8em;
   }
   .cont-footer .footer .subcont-footer a img{
    width: 72%;
    height: 100%;
    object-fit: contain;
}
}

@media screen and (max-width: 934px) {
    .nav .cont-ul ul li a{
        margin: 3%;
        padding: .5rem;
    }
    .nav .cont-ul ul li a:hover{
        font-size: 1em;
    }
    .logo .logo-span{
        font-size: 50%;
    }
}
@media screen and (max-width: 768px) {
    .cont-container{
        width: 100%;
    }
    .cont-h1-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    .logo .cont-imgspan{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }
    .logo .cont-imgspan h1{
        height: 100%;
    }
    .logo img{
        height: 80px;
        margin-top: 40px;
    }
    .logo .logo-span{
        width: 76%;
        height: 100%;
        display: flex;
        justify-content: center;
        
        font-size: 1.1em;
    }
    .logo .logo-span .fondo-span{
        height: 100%;
        margin-top: -5px;
        padding: 0 15px 40px 15px;
        background-color: #EE0C0C;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset;
    }
    .logo .cont-imgspan h1:hover,
    .logo img:hover{
        scale: 1;
    }
    .nav{
        width: 100%;
        height: 50%;
    }
    .nav .cont-ul{
        display: flex;
        justify-content: center;
        margin-left: 16%;
    }
    .nav .cont-ul ul li a{
        margin-right: .5em;
    }
    .nav .cont-ul ul li a:hover{
        scale: 1;
        background-color: transparent;
        color: #EE0C0C;
    }
    .contimg-body p{
        font-size: 1.5em;
    }
    .contimg-body a img{
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }


    .contimg-body p{
        font-size: 1.5em;
    }
    .contimg-body p:hover{
        font-size: 1.8em;
    }


    .cont-footer .footer .subcont-footer{
        width: 100%;
        height: 100%;
    }
    .cont-footer .footer .subcont-footer .author{
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .7em;
        letter-spacing: 2px;
    }
    .cont-footer .footer .subcont-footer a:visited{
        color: #ffff;
       
    }
    .cont-footer .footer .subcont-footer .derechos{
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .7em;
}
}

@media screen and (max-width: 540px) {
    .logo .logo-span{
        width: 75%;
        font-size: 70%;
    }
    .logo .logo-span .fondo-span{
        padding: 0;
        display: flex;
        align-items: center;
        padding: 0 2%;
    }
    .nav .cont-ul ul{
        width: 80%;
        justify-content: space-between;
    }
    .nav .cont-ul ul li a{
        padding: 0;
        font-size: 80%;

    }
    .contimg-body p{
        font-size: 1.2em;
    }
    .contimg-body p:hover{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 425px) {
    .nav .cont-ul ul{
        width: auto;
    }    
    .contimg-body p{
        font-size: .9em;
        letter-spacing: 1px;
    }
}